<p>Olá, <%= user.nomeAluno %>!</p>
<p>Você autoriza ter acesso ao seus dados?</p>

<form action="/dialog/authorize/decision" method="post">
  <input name="transaction_id" type="hidden" value="<%= transactionId %>" />
  <div>
    <input type="submit" value="Allow" id="allow" />
    <input type="submit" value="Deny" name="cancel" id="deny" />
  </div>
</form>
